<div class="text-left p-5 full-screen">
    <h1>Colorful & Memorable</h1>
    <div class="m-2">
        <p>Procedure</p>
        <p>1. The system will have a word to come. </p>
        <p>2. You must remember the words within 60 seconds and have to remember as much as possible.</p>
        <p>3. Select the words that appear on the previous page within 30 seconds.</p>
    </div>
    
    <img src="https://image.flaticon.com/icons/svg/1228/1228213.svg" width=60 (click)="select(1)" />
    <img src="https://image.flaticon.com/icons/svg/1228/1228206.svg" width=85 (click)="select(2)" />
    <img src="https://image.flaticon.com/icons/svg/1228/1228224.svg" width=72 (click)="select(3)" />

    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</div>